/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  /* 600px以下の場合 */
@media (max-width: 600px) {
  p {
    font-size: 14px;
  }
}

/* 768px以下の場合 */
@media (max-width: 768px) {
  p {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  /* 画面幅が768px以下の場合のスタイル */
  /* 例えば、ヘッダーのナビゲーションを縦並びにする */
  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

  /* Global styles */

  html, body {
    height: 100%;
    margin: 0;
  }

  @font-face {
    font-family: 'JosefinSans-Bold';
    src: url('fonts/JosefinSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  header {
    font-family: 'JosefinSans-Bold', sans-serif;
  }

  ont-face {
    font-family: 'DotGothic16';
    src: url('fonts/DotGothic16-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  #home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #slideshow {
    position: relative;
    flex: 1 1 50%;
    height: 100%;
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    top: 50%;
    left: 50%; /* 右からではなく左から中央に寄せるために変更 */
    transform: translate(-50%, -50%); /* 中央に寄せる */
    width: 500px; /* 画像の幅を500pxに固定 */
    height: auto;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .slide img {
    width: 100%;
    height: auto;
    object-position: center;
  }
  
  #home .container {
    flex: 1 1 50%;
    text-align: center;
  }

  #home h2 {
    font-size: 2rem;
    margin: 2rem auto;
    margin-left: auto;
    margin-right: auto; /* テキストを中央に寄せる */
    margin: 2rem auto;
    margin-left: 10rem; /* h2を右に寄せる */
  }


  

  
  
  @media (max-width: 767px) { /* スマホサイズ以下の場合 */
    .slide {
    display: none;  /* slideを非表示にする */
    }
    
    #home .container {
    flex: 1 1 100%; /* テキストを100%幅にする */
    text-align: center;
    }
    
    #home h2 {
    font-size: 2rem;
    margin: 2rem auto;
    text-align: center; /* テキストを中央に寄せる */
    }
    }
  

  main {
    font-family: 'DotGothic16', sans-serif;
  }

  @font-face {
    font-family: 'GenShinGothic-Bold';
    src: url('fonts/GenShinGothic-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  p {
    font-family: 'GenShinGothic-Bold', sans-serif;
  }

  @font-face {
    font-family: 'GenShinGothic-Heavy';
    src: url('fonts/GenShinGothic-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  h2 {
    font-family: 'GenShinGothic-Heavy', sans-serif;
  }

 .myname {
  font-size: 100px;
 }
 .shuoh-yama-image {
  max-width: 50%;
  height: auto;
}

iframe {
  max-width: 100%;
  max-height: 100%;
}

  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  /* Header styles */
  header {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999; /* 他の要素よりも上に表示するためにz-indexを設定 */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

 
  header h1 {
    font-size: 30px;
    margin-right: 20px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  nav li {
    list-style: none;
    margin: 0 10px;
  }
  
  nav a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    position: relative;
  }
  
  nav a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  
  nav a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  nav a.active:before {
    visibility: visible;
    transform: scaleX(1);
  }

  .nav {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  
  .nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .nav li {
    list-style: none;
    margin: 0 10px;
  }
  
  .nav a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    position: relative;
  }
  
  .nav a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  
  .nav a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .nav a.active:before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  section {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    height: 100%;
  }

  *,
  *:before,
  *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;/*rem算出をしやすくするために*/
  }

.slider_fade > li {
    position: absolute;
    right: 1000px;
    list-style: none;
    visibility: hidden;
    animation: anime_slider_fade 12s 0s infinite;
}

.slide_fade li {
  margin : right
}

.slider_fade > li:nth-of-type(2) {
    animation-delay: 4s;
}
.slider_fade > li:nth-of-type(3) {
    animation-delay: 8s;
}

@keyframes anime_slider_fade {
    0% {
        visibility: visible;
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
    }
    48.3% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

  .btn,
  a.btn,
  button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
  }

  .works-item.btn,
  .works-item a.btn,
  works-item button.btn {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
  }

  a.btn-border {
    border-radius: 0;
  }
  
  a.btn-border:before,
  a.btn-border:after {
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    content: '';
    -webkit-transition: all .3s;
    transition: all .3s;
  
    background: #000;
  }
  
  a.btn-border:before {
    top: 0;
    left: 0;
  }
  
  a.btn-border:after {
    right: 0;
    bottom: 0;
  }
  
  a.btn-border:hover:before,
  a.btn-border:hover:after {
    width: 0;
  }
  
  
  /* Home section styles */
  #home {
    background-color: #f9f9f9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #home h2 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'DotGothic16', sans-serif;
  }
  
  #home p {
    font-size: 24px;
    text-align: center;
  }
  
  /* About section styles */
  #about {
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #about h2 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #about p {
    font-size: 24px;
    text-align: center;
  }

/* Works section styles */
  #works {
    background-color: #efefef;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
      
  #works h2 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
      
  #works p {
    font-size: 20px;
    text-align: center;
  }

  /* Works section styles */
  #works-2 {
    background-color: #efefef;
    height: 550vh;
    display: flex;
    justify-content: center;
  }
      
.works-back {
  align-items: center;
}
  
  .works-container {
    display: flex;
    flex-direction: column;
  }
  
  .works-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* 適宜調整 */
  }
  
  .works-item img {
    width: 500px; /* 適宜調整 */
    margin-right: 40px; /* 適宜調整 */
  }
  
  .works-item .works-content {
    flex: 1;
  }
  
  .works-item h2, .works-item p {
    margin: 0;
  }

  .works-item h2 {
    font-size: 24px;
  }

  .works-item p {
    font-size: 15px;
  }

  .works-container {
    line-height: 1; /* 行間を詰めるための値を設定 */
  }
  


  /* Contact section styles */
  #contact {
    background-color: #e9e9e9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #contact h2 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #contact p {
    font-size: 24px;
    text-align: center;
  }

  #contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-icons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 1rem;
    color: #000;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .social-icons a:hover {
    color: #1da1f2; /* Twitterのアイコンのhover時の色 */
  }
  
  .social-icons .fa-instagram:hover {
    color: #e4405f; /* Instagramのアイコンのhover時の色 */
  }
  
  .social-icons .fa-youtube:hover {
    color: #ff0000; /* YouTubeのアイコンのhover時の色 */
  }
